body {
	background-color: #24243d;
	color: #ffffff;
}

.container {
	width: 280px;
}

.title {
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
}

.bookmarks {
	margin: 5px 5px;
	padding: 3px;
}

.bookmark {
	height: 2rem;
	display: flex;
	align-items: center;
	border: 1px solid #ffffff;
	border-radius: 0.3rem;
	padding: 3px;
	margin-bottom: 10px;
	transition-duration: 0.2s;
	background-color: #393962;
}

.bookmark:hover {
	box-shadow: 0px 0px 5px #ffffff;
}

.bookmark-title {
	padding-left: 2px;
}

.bookmark-controls img {
	margin: 0 4px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	padding: 2px;
	border-radius: 12px;
	border: 1px solid #ffffff00;
	transition-duration: 0.2s;
}

.bookmark-controls img:hover {
	border: 1px solid #ffffff;
}

.bookmark-controls {
	flex: auto;
	text-align: right;
}